.float-left {
  position: absolute;
  float: left;
}

.float-right {
  float: right;
}

.card-img-top {
  border-radius: 0px 25px 0px 25px !important;
}
.card-subtitle {
  text-align: left !important;
}
.card-text {
  text-align: left !important;
  margin-left: 15px !important;
  margin-top: 30px !important;
}
.icon {
justify-content: left !important;
}
.plus {
  height: auto;
  width: 75px;
}
