.float-left {
  position: absolute;
  float: left;
}

.float-right {
  float: right;
}

.card-img-top {
    border-radius: 0px 25px 0px 25px !important;
}
.card-subtitle{
    text-align: left !important;
}
.card-text{
    text-align: left !important;
    margin-left: 15px !important;
    margin-top: 40px !important;
}