.float-left {
  position: absolute;
  float: left;
}

.float-right {
  float: right;
}

.card-img-top {
    border-radius: 0px 25px 0px 25px !important;
}
.card-subtitle{
    justify-content: left;
    text-align: left ;
}